[user]
    name = Paul Smith
    email = paulsmith@pobox.com
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = auto
[alias]
    st = status -sb
    ci = commit
    co = checkout
    br = branch
    pl = pull --rebase
    graph = log --color --decorate --graph --oneline
[pager]
    status = true
[push]
    default = simple
[core]
	editor = /usr/bin/vim
