[user]
	name = Paul Smith
	email = paulsmith@pobox.com
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = auto
[alias]
	st = status
	ci = commit
	co = checkout
    br = branch
    pl = pull --rebase
[pager]
	status = true
